.App {
  text-align: center;
}

.body-container {
  margin-top: 70px;
}

.products-grid-img-container {
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

.products-grid-img-container img {
  width: 100%;
}

.homepage-banner-container {
  height: 300px;
  overflow: hidden;
}

.homepage-banner-container>img {
  width: 100%;
  object-fit: cover;
}

.Footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  top: auto;
}

.grid-movie-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: 0.5s;
}

.grid-movie-img {
  height: 350px;
  object-fit: cover;
}

.movie-details-image {
  object-fit: cover;
  width: 100%;
}

.auth-form-container{
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
}